header{
    padding-top: 200px;
    background-color: transparent;
}



a{
    padding: 20px;
    background-color: transparent;
    font-size: 25px;
}

section{
    display: flex;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}

main{
    height: 80vh;
    
    flex: 1;
}
