*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #042940;
}

img{
    height: 600px;
    width: 400px;
    padding: 50px;
}

p{
    color: white;
    padding-top: 230px;
    font-size: 25px;
}

h1{
    color: white;
    padding-top: 20px;
    padding-left: 100px;
    font-size: 40px;
}

.container{
    display: flex;
}