*{
    margin: 0%;
    padding: 0%;
}

body{
   background-color: #45214A; 
}

p{
    color: white;
    padding-top: 210px;
    font-size: 25px;
}

h1{
    color: white;
    padding-top: 20px;
    padding-left: 90px;
    font-size: 35px;
}

.container{
    display: flex;
}

img{
    height: 500px;
    width: 700px;
    padding: 50px;
}