* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background-color: transparent;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
  
}

.logo {
  font-size: 1.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.menu a:hover {
  text-decoration: underline;
}

.secao {
  width: 100%;
  min-height: 80vh;
  padding: 60px 20px;
  background: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
  transition: background-color 1.5s ease;
}

.secao.ativa,
.secao.hover{
  background-color: #f0f0f0;
}

.secao h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.secao p,
.secao ul {
  font-size: 1.1rem;
  max-width: 800px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 40px;
}


/* Seção INICIO */

#inicio {
  background-image: url('./imagen/lily-banse--YHSwy6uqvk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  overflow: visible;
  position: relative;
}

#inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* escurece o fundo */
  z-index: 0;
}

.inicio-container {
  position: relative;
  z-index: 1;
}


.inicio-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;     
  height: 50%;            
  text-align: center;
  position: relative;
  z-index: 1;
}


.inicio-texto {
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 800px;
}

.inicio-texto .texto{
  font-size: 20px;
}

.inicio-texto h2 {
  font-size: 4.4rem;
  margin-bottom: 20px;
}


/* Seção Sobre Nos*/

#nos {
  align-items: center;
  justify-content: center;
  text-align: center;
}

h3 {
  font-size: 2.3rem;
  padding-bottom: 50px;
}
 
#nos p {
  font-size: 20px;
}


/* Seção Calculadora */

#sobre {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 650px;
}

.quadrado {
  position: relative;
  width: 100%;
  max-width: 900px;
  border-radius: 1%;
  padding: 40px;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 1;
}


/* Formulário da calculadora */

#calculadora input,
#calculadora button {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

#calculadora button {
  background-color: #1D5902;
  color: white;
  border: none;
  cursor: pointer;
}

#calculadora button:hover {
  background-color: #144102;
}


/*Seção Informações*/

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 60px 20px;
  border-bottom: 4px solid #ccc;
  background-color: #333; 
  transition: background-color 1.5s ease; 
}

#info .textoinfo{
  display: flex;
  justify-content: center;
  text-align: center;
}

#info .cards {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  grid-auto-rows: auto;   /* Altura flexível para cada card */
  justify-items: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

#info .card {
  background-color: gray;
  border: 0px solid transparent;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 250px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 8px 15px rgba(0,0,0,1.9);
  font-size: 1.2rem;
  text-align: center;
  transition: transform 0.3s ease, background-color 1.5s ease;
  cursor: default;
}

#info .card.ativo {
  background-color: white;
  color: #333;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

#info .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


/* Seção SERVIÇOS */

#servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 60px 20px;
  border-bottom: 4px solid #ccc;
}

#servicos h2 {
  text-align: center;
  margin-bottom: 120px;
}

#servicos .cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

#servicos .card {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 250px;
  max-width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: default;
}

#servicos .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
