body{
    background-color: black;
}

p{
    color: aqua;
    
}

.atv{
    color: red;
}

#renata{
    color: green;
}

h1, h2{
    color: purple;
}

div Rafael{
    color: yellow;
}



.documento.documento2{
    color: white;
}



.senai .sesi{
    color:blue;
}