* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .secao {
    width: 100%;
    min-height: 80vh; /* Altura mínima de 80% da tela */
    padding: 60px 20px;
    background: rgb(85, 82, 82);
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
  }
  
  .secao h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .secao p,
  .secao ul {
    font-size: 1.1rem;
    max-width: 800px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 40px;
  }

  h2, p, li {
    color: white;
  }
  