* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.game-board {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
   /* border-bottom: 45px solid #353635;*/
   border-bottom: 45px solid black;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#1c91f8, #91f0fb);
}

.fundo-container{
    position: absolute;
    width: 200%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
}

.start-game {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1000;
}

.game-over{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 1000;
}

.clouds {
    position: absolute;
    width: 500px;
    margin-top: 10px;
    animation: clouds-animation 20s linear infinite;
}

.fundo{
    width: 50%;
    height: 100%;
    background-size: cover;
    animation: scrollBackground 45s linear infinite;
}

.mario {
    position: absolute;
    bottom: 0;
    width: 160px;
    left: 90px;
    height: 130px;
}

.jump {
    animation: mario-jump 600ms ease-out;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px; 
    background-size: cover;
}

.tempo {
    position: absolute;
    font-size: 20px;
    color: white;
    z-index: 1000;
    background-color: rgba(53, 54, 53, 0.9); /* Fundo escuro com transparência */
    left: 40px;
    top: 40px;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.time, .besttime {
    margin: 5px 0; /* Espaçamento entre as linhas */
}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 220px;
    }

    50% {
        bottom: 220px;
    }

    60% {
        bottom: 220px;
    }

    100% {
        bottom: 0;
    }
}

/*@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}*/


@keyframes pipe-animation{
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(-100vw);
    }
}

@keyframes scrollBackground {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.hidden {
    display: none;
}
